<div class="card p-3">
  <h3>Listado de Estudiantes Registrados</h3>

  <div *ngIf="estudiantes.length === 0" class="alert alert-info mt-3">
    No hay estudiantes registrados por el momento.
  </div>

  <div class="table-responsive mt-3" *ngIf="estudiantes.length > 0">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>Carné</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Carrera</th>
          <th>Jornada</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let est of estudiantes">
          <td>{{ est.carnet }}</td>
          <td>{{ est.nombreCompleto }}</td>
          <td>{{ est.correo }}</td>
          <td>{{ est.carrera }}</td>
          <td>{{ est.jornada }}</td>
          <td>{{ est.telefono }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="onEditar(est)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="onEliminar(est.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>